{% load staticfiles %}
<html>
  <head>
  	<title>Bonjour</title>
    <link href="{% static 'blog/css/bootstrap.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'blog/css/style.css' %}" rel="stylesheet" media="screen">
  </head>

  <body>
	{% include "blog/shared/nav.html" %}

	<div style="height: 100px"></div>

    {% block content %}
    {% endblock %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
   	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>